n8n_workflows/QuantumChildren_LOCAL_Dashboard.json
{
  "name": "Quantum Children - Local Signal Dashboard",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quantum-signal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-signal",
      "name": "Receive Signal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "qc-signal"
    },
    {
      "parameters": {
        "jsCode": "const signal = $input.first().json;\n\n// Enrich signal\nconst enriched = {\n  ...signal,\n  received_at: new Date().toISOString(),\n  quality: signal.quantum_entropy < 2.5 ? 'PREMIUM' : \n           signal.quantum_entropy < 6.0 ? 'STANDARD' : 'LOW',\n  recommendation: signal.confidence > 0.6 ? 'CONSIDER ENTRY' : 'MONITOR ONLY'\n};\n\n// Log to console (visible in n8n execution log)\nconsole.log(`[SIGNAL] ${enriched.symbol} ${enriched.action} - Confidence: ${Math.round(enriched.confidence * 100)}%`);\n\nreturn [{ json: enriched }];"
      },
      "id": "process-signal",
      "name": "Process Signal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'received', signal: $json }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "signals",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-dashboard",
      "name": "Dashboard API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 500],
      "webhookId": "qc-dashboard"
    },
    {
      "parameters": {
        "jsCode": "// Return network status\nconst status = {\n  network: 'Quantum Children Free Network',\n  node_id: $env.NODE_ID || 'QC-LOCAL',\n  status: 'ONLINE',\n  endpoints: {\n    send_signal: '/webhook/quantum-signal (POST)',\n    view_status: '/webhook/signals (GET)',\n    cascade: '/webhook/cascade-signal (POST)'\n  },\n  thresholds: {\n    min_confidence: 0.5,\n    max_entropy: 6.0\n  },\n  message: 'Import this workflow to join the network!',\n  checked_at: new Date().toISOString()\n};\n\nreturn [{ json: status }];"
      },
      "id": "dashboard-data",
      "name": "Network Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-dashboard",
      "name": "Return Status",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cascade-signal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-cascade",
      "name": "Cascade Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 700],
      "webhookId": "qc-cascade"
    },
    {
      "parameters": {
        "jsCode": "const signal = $input.first().json;\n\n// Add cascade hop\nconst cascaded = {\n  ...signal,\n  cascade_hop: (signal.cascade_hop || 0) + 1,\n  cascade_path: [...(signal.cascade_path || []), $env.NODE_ID || 'QC-LOCAL'],\n  relayed_at: new Date().toISOString()\n};\n\n// Stop if too many hops\nif (cascaded.cascade_hop > 5) {\n  return [{ json: { status: 'max_hops', signal: cascaded } }];\n}\n\nconsole.log(`[CASCADE] Hop ${cascaded.cascade_hop}: ${cascaded.symbol} ${cascaded.action}`);\n\nreturn [{ json: cascaded }];"
      },
      "id": "process-cascade",
      "name": "Process Cascade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'cascaded', hop: $json.cascade_hop }) }}",
        "options": {}
      },
      "id": "respond-cascade",
      "name": "Respond Cascade",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 700]
    }
  ],
  "connections": {
    "Receive Signal": {
      "main": [[{ "node": "Process Signal", "type": "main", "index": 0 }]]
    },
    "Process Signal": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    },
    "Dashboard API": {
      "main": [[{ "node": "Network Status", "type": "main", "index": 0 }]]
    },
    "Network Status": {
      "main": [[{ "node": "Return Status", "type": "main", "index": 0 }]]
    },
    "Cascade Input": {
      "main": [[{ "node": "Process Cascade", "type": "main", "index": 0 }]]
    },
    "Process Cascade": {
      "main": [[{ "node": "Respond Cascade", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "qc-local-dashboard" },
  "tags": [{ "name": "quantum-children", "id": "1" }, { "name": "free", "id": "2" }, { "name": "no-social", "id": "3" }]
}
