n8n_workflows/QuantumChildren_Network_Cascade.json
{
  "name": "Quantum Children - Free Signal Network",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quantum-signal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-signal-receiver",
      "name": "Signal Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "quantum-signal-hook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-register",
      "name": "Register Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 520],
      "webhookId": "quantum-register-hook"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-analysis",
      "name": "Market Analysis Timer",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.2:3b\",\n  \"prompt\": \"Analyze market for {{ $json.symbol }}. Current price: {{ $json.price }}. RSI: {{ $json.rsi }}. Quantum entropy: {{ $json.entropy }}. Give brief 2-sentence outlook.\",\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "ollama-analysis",
      "name": "Quantum LLM Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [660, 100]
    },
    {
      "parameters": {
        "jsCode": "// Process incoming signal from Quantum Children system\nconst signal = $input.first().json;\n\n// Validate signal structure\nif (!signal.symbol || !signal.action || signal.confidence === undefined) {\n  return [{ json: { error: 'Invalid signal format', received: signal } }];\n}\n\n// Add network metadata\nconst enrichedSignal = {\n  ...signal,\n  network_id: 'quantum-children-free',\n  processed_at: new Date().toISOString(),\n  signal_quality: signal.quantum_entropy < 4.5 ? 'HIGH' : 'MEDIUM',\n  recommended_risk: signal.quantum_entropy < 2.5 ? '2%' : '1%',\n  \n  // Human-readable interpretation\n  interpretation: {\n    direction: signal.action,\n    strength: signal.confidence > 0.7 ? 'Strong' : signal.confidence > 0.5 ? 'Moderate' : 'Weak',\n    quantum_state: signal.quantum_entropy < 2.5 ? 'Highly Determined' : \n                   signal.quantum_entropy < 4.5 ? 'Moderately Predictable' : 'Uncertain',\n    recommendation: signal.confidence > 0.6 && signal.quantum_entropy < 4.5 ? \n                    'Consider Entry' : 'Wait for Better Setup'\n  }\n};\n\nreturn [{ json: enrichedSignal }];"
      },
      "id": "process-signal",
      "name": "Process Signal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Register new network member\nconst input = $input.first().json;\n\n// Generate unique member ID\nconst memberId = 'QC-' + Date.now().toString(36).toUpperCase() + '-' + \n                 Math.random().toString(36).substring(2, 6).toUpperCase();\n\nconst member = {\n  member_id: memberId,\n  registered_at: new Date().toISOString(),\n  telegram_chat_id: input.telegram_chat_id || null,\n  discord_webhook: input.discord_webhook || null,\n  email: input.email || null,\n  notification_preferences: {\n    signals: input.want_signals !== false,\n    analysis: input.want_analysis !== false,\n    education: input.want_education !== false\n  },\n  tier: 'FREE',\n  referral_code: 'REF-' + memberId,\n  referred_by: input.referral_code || null,\n  \n  // Welcome package\n  welcome_message: `Welcome to Quantum Children Network!\n\nYour Member ID: ${memberId}\nYour Referral Code: REF-${memberId}\n\nShare your referral code to earn rewards!\n\nYou will receive:\n- Real-time trading signals\n- Quantum entropy analysis\n- Market insights\n\nSetup instructions: Import this workflow to run your own node!`\n};\n\nreturn [{ json: member }];"
      },
      "id": "register-member",
      "name": "Register Member",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 520]
    },
    {
      "parameters": {
        "jsCode": "// Fetch market data for scheduled analysis\nconst symbols = ['BTCUSD', 'ETHUSD', 'XAUUSD'];\nconst outputs = [];\n\nfor (const symbol of symbols) {\n  outputs.push({\n    json: {\n      symbol: symbol,\n      price: 0, // Will be filled by HTTP request\n      timestamp: new Date().toISOString(),\n      analysis_type: 'scheduled'\n    }\n  });\n}\n\nreturn outputs;"
      },
      "id": "prepare-analysis",
      "name": "Prepare Symbols",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-high-confidence",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 0.5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "condition-low-entropy",
              "leftValue": "={{ $json.quantum_entropy }}",
              "rightValue": 6.0,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-quality",
      "name": "Quality Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHANNEL_ID }}",
        "text": "=**{{ $json.symbol }} {{ $json.action }} SIGNAL**\n\nConfidence: {{ $json.confidence }}%\nQuantum Entropy: {{ $json.quantum_entropy }}\nSignal Quality: {{ $json.signal_quality }}\n\n{{ $json.interpretation.recommendation }}\n\n*Risk: {{ $json.recommended_risk }} max*\n\n---\nQuantum Children Network\nShare this workflow to grow the network!",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-broadcast",
      "name": "Telegram Broadcast",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [{\n    \"title\": \"{{ $json.symbol }} {{ $json.action }} Signal\",\n    \"color\": {{ $json.action === 'BUY' ? 5763719 : 15548997 }},\n    \"fields\": [\n      {\n        \"name\": \"Confidence\",\n        \"value\": \"{{ Math.round($json.confidence * 100) }}%\",\n        \"inline\": true\n      },\n      {\n        \"name\": \"Quantum Entropy\",\n        \"value\": \"{{ $json.quantum_entropy.toFixed(2) }}\",\n        \"inline\": true\n      },\n      {\n        \"name\": \"Quality\",\n        \"value\": \"{{ $json.signal_quality }}\",\n        \"inline\": true\n      },\n      {\n        \"name\": \"Recommendation\",\n        \"value\": \"{{ $json.interpretation.recommendation }}\"\n      },\n      {\n        \"name\": \"Max Risk\",\n        \"value\": \"{{ $json.recommended_risk }}\"\n      }\n    ],\n    \"footer\": {\n      \"text\": \"Quantum Children Network - Import this workflow to join!\"\n    },\n    \"timestamp\": \"{{ $json.processed_at }}\"\n  }]\n}",
        "options": {}
      },
      "id": "discord-broadcast",
      "name": "Discord Broadcast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-signal",
      "name": "Respond Signal",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-register",
      "name": "Respond Register",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 520]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8888/market_state",
        "options": {}
      },
      "id": "fetch-quantum-state",
      "name": "Fetch Quantum State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, -100],
      "notes": "Connects to local Quantum Server"
    },
    {
      "parameters": {
        "jsCode": "// Merge quantum state with symbol data\nconst symbolData = $('Prepare Symbols').all();\nconst quantumState = $input.first().json;\n\nconst enriched = symbolData.map(item => {\n  const symbol = item.json.symbol;\n  const state = quantumState[symbol] || {};\n  \n  return {\n    json: {\n      ...item.json,\n      price: state.price || 'N/A',\n      rsi: state.rsi || 50,\n      entropy: state.entropy || 4.0,\n      dominant_state: state.dominant_state || 0.05,\n      catboost_prob: state.catboost_prob || 0.5\n    }\n  };\n});\n\nreturn enriched;"
      },
      "id": "merge-quantum",
      "name": "Merge Quantum Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -100]
    },
    {
      "parameters": {
        "jsCode": "// Generate network statistics for sharing\nconst stats = {\n  network_name: 'Quantum Children Free Network',\n  version: '1.0.0',\n  \n  capabilities: [\n    'Real-time trading signals',\n    'Quantum entropy analysis (8-qubit Qiskit)',\n    'CatBoost ML predictions (62-68% accuracy)',\n    'LLM market commentary',\n    'Community signal sharing'\n  ],\n  \n  supported_symbols: ['BTCUSD', 'ETHUSD', 'XAUUSD'],\n  \n  how_to_join: {\n    step_1: 'Import this workflow into your n8n instance',\n    step_2: 'Configure Telegram/Discord credentials',\n    step_3: 'Start receiving signals OR run your own Quantum node',\n    step_4: 'Share your referral code to grow the network'\n  },\n  \n  cascade_effect: {\n    level_1: 'Import workflow -> Receive signals',\n    level_2: 'Run Quantum server -> Generate signals -> Broadcast',\n    level_3: 'Train models -> Improve accuracy -> Share improvements'\n  },\n  \n  github_repo: 'https://github.com/quantum-children/free-signals',\n  documentation: 'https://quantum-children.gitbook.io/docs',\n  \n  generated_at: new Date().toISOString()\n};\n\nreturn [{ json: stats }];"
      },
      "id": "network-stats",
      "name": "Network Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 720]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "network-info",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-info",
      "name": "Info Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [40, 720],
      "webhookId": "quantum-info-hook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-info",
      "name": "Respond Info",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 720]
    },
    {
      "parameters": {
        "jsCode": "// Parse and format LLM analysis response\nconst response = $input.first().json;\nconst symbolData = $('Merge Quantum Data').first().json;\n\nlet analysis = '';\ntry {\n  analysis = JSON.parse(response.response || '{}').response || response.response || 'Analysis unavailable';\n} catch (e) {\n  analysis = response.response || 'Analysis unavailable';\n}\n\nconst formattedAnalysis = {\n  symbol: symbolData.symbol,\n  price: symbolData.price,\n  quantum_entropy: symbolData.entropy,\n  llm_analysis: analysis,\n  timestamp: new Date().toISOString(),\n  \n  // Generate trading suggestion based on entropy\n  suggestion: symbolData.entropy < 2.5 ? 'Market highly predictable - good entry window' :\n              symbolData.entropy < 4.5 ? 'Market moderately predictable - proceed with caution' :\n              'Market uncertain - consider waiting'\n};\n\nreturn [{ json: formattedAnalysis }];"
      },
      "id": "format-analysis",
      "name": "Format Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHANNEL_ID }}",
        "text": "=**Market Analysis: {{ $json.symbol }}**\n\nPrice: {{ $json.price }}\nQuantum Entropy: {{ $json.quantum_entropy }}\n\n{{ $json.llm_analysis }}\n\n*{{ $json.suggestion }}*\n\n---\nQuantum Children Network",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-analysis",
      "name": "Telegram Analysis",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 100],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cascade-signal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-cascade",
      "name": "Cascade Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [40, 920],
      "webhookId": "quantum-cascade-hook",
      "notes": "Receive signals from other nodes and rebroadcast"
    },
    {
      "parameters": {
        "jsCode": "// Cascade signal to downstream nodes\n// This creates the viral network effect\n\nconst signal = $input.first().json;\n\n// Add cascade metadata\nconst cascadeSignal = {\n  ...signal,\n  cascade_hop: (signal.cascade_hop || 0) + 1,\n  cascade_path: [...(signal.cascade_path || []), $env.NODE_ID || 'unknown'],\n  cascaded_at: new Date().toISOString()\n};\n\n// Only cascade if hop count is reasonable (prevent infinite loops)\nif (cascadeSignal.cascade_hop > 5) {\n  return [{ json: { status: 'max_hops_reached', signal: cascadeSignal } }];\n}\n\nreturn [{ json: cascadeSignal }];"
      },
      "id": "process-cascade",
      "name": "Process Cascade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 920]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-max-hops",
              "leftValue": "={{ $json.cascade_hop }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-cascade",
      "name": "Cascade Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 920]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DOWNSTREAM_NODES }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "broadcast-cascade",
      "name": "Broadcast to Downstream",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [660, 920],
      "notes": "Forward to other network nodes"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"cascaded\",\n  \"hop\": {{ $json.cascade_hop }},\n  \"path\": {{ JSON.stringify($json.cascade_path) }}\n}",
        "options": {}
      },
      "id": "respond-cascade",
      "name": "Respond Cascade",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 920]
    },
    {
      "parameters": {
        "jsCode": "// Educational content generator for network growth\n// This provides value that makes people want to share\n\nconst lessons = [\n  {\n    title: 'Understanding Quantum Entropy in Trading',\n    content: 'Quantum entropy measures market uncertainty. Low entropy (<2.5) means highly predictable markets - ideal for trading. High entropy (>4.5) means chaotic conditions - best to wait.',\n    tip: 'Only trade when quantum entropy drops below 4.0'\n  },\n  {\n    title: 'The CatBoost Advantage',\n    content: 'CatBoost is a gradient boosting algorithm that handles categorical features natively. Our model achieves 62-68% accuracy on out-of-sample data.',\n    tip: 'Combine CatBoost predictions with quantum filters for best results'\n  },\n  {\n    title: 'Risk Management: The $1 Rule',\n    content: 'Never risk more than $1 per trade initially. Use the formula: SL_distance = MAX_LOSS / (tick_value * lot_size)',\n    tip: 'Fixed dollar risk beats percentage risk for consistent growth'\n  },\n  {\n    title: 'The Cascade Network Effect',\n    content: 'Every node you add to the network improves signal quality through consensus. More nodes = better predictions.',\n    tip: 'Share this workflow with 3 friends to earn premium signal access'\n  }\n];\n\nconst randomLesson = lessons[Math.floor(Math.random() * lessons.length)];\n\nreturn [{ json: {\n  lesson: randomLesson,\n  network_cta: 'Import this n8n workflow to join the Quantum Children network and receive these insights automatically!',\n  share_link: 'https://quantum-children.network/join'\n}}];"
      },
      "id": "education-content",
      "name": "Education Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 1120]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "education-schedule",
      "name": "Education Timer",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [40, 1120]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHANNEL_ID }}",
        "text": "=**Quantum Trading Lesson**\n\n*{{ $json.lesson.title }}*\n\n{{ $json.lesson.content }}\n\nPro Tip: {{ $json.lesson.tip }}\n\n---\n{{ $json.network_cta }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-education",
      "name": "Telegram Education",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [460, 1120],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Signal Webhook": {
      "main": [
        [
          {
            "node": "Process Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Webhook": {
      "main": [
        [
          {
            "node": "Register Member",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Analysis Timer": {
      "main": [
        [
          {
            "node": "Prepare Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Signal": {
      "main": [
        [
          {
            "node": "Quality Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Member": {
      "main": [
        [
          {
            "node": "Respond Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Symbols": {
      "main": [
        [
          {
            "node": "Fetch Quantum State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Filter": {
      "main": [
        [
          {
            "node": "Telegram Broadcast",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Broadcast",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Quantum State": {
      "main": [
        [
          {
            "node": "Merge Quantum Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Quantum Data": {
      "main": [
        [
          {
            "node": "Quantum LLM Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quantum LLM Analysis": {
      "main": [
        [
          {
            "node": "Format Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Analysis": {
      "main": [
        [
          {
            "node": "Telegram Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info Webhook": {
      "main": [
        [
          {
            "node": "Network Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Network Stats": {
      "main": [
        [
          {
            "node": "Respond Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cascade Webhook": {
      "main": [
        [
          {
            "node": "Process Cascade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Cascade": {
      "main": [
        [
          {
            "node": "Cascade Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cascade Filter": {
      "main": [
        [
          {
            "node": "Broadcast to Downstream",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Cascade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Education Timer": {
      "main": [
        [
          {
            "node": "Education Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Education Generator": {
      "main": [
        [
          {
            "node": "Telegram Education",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "quantum-children-v1.0.0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "quantum-children-free-network"
  },
  "tags": [
    {
      "name": "trading",
      "id": "1"
    },
    {
      "name": "quantum",
      "id": "2"
    },
    {
      "name": "free",
      "id": "3"
    },
    {
      "name": "signals",
      "id": "4"
    }
  ],
  "pinData": {},
  "staticData": null
}
