n8n_workflows/QuantumChildren_MINIMAL_Receiver.json
{
  "name": "Quantum Signals - FREE Receiver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qc-signal",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "signal-in",
      "name": "Receive Signal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "qc-signal-receiver"
    },
    {
      "parameters": {
        "jsCode": "// Format signal for human readability\nconst s = $input.first().json;\n\nconst emoji = s.action === 'BUY' ? '\\u{1F7E2}' : '\\u{1F534}';\nconst quality = s.quantum_entropy < 2.5 ? 'PREMIUM' : \n               s.quantum_entropy < 4.5 ? 'STANDARD' : 'LOW';\n\nconst message = `${emoji} ${s.symbol} ${s.action}\n\nConfidence: ${Math.round(s.confidence * 100)}%\nQuantum Entropy: ${s.quantum_entropy?.toFixed(2) || 'N/A'}\nSignal Quality: ${quality}\n\nRisk: Max 1-2% of account\n\n---\nQuantum Children Free Network\nImport this workflow: bit.ly/qc-signals`;\n\nreturn [{ json: { ...s, formatted_message: message } }];"
      },
      "id": "format",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.formatted_message }}",
        "additionalFields": {}
      },
      "id": "telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Receive Signal": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "qc-minimal"
  },
  "tags": [
    {
      "name": "quantum-children",
      "id": "1"
    },
    {
      "name": "free",
      "id": "2"
    }
  ]
}
